<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white" id="mySidebar" style="width:300px;z-index:3;"><br>
   <div class="w3-container w3-row">
      <img src="assets/images/logo-agcom.png" style="width: 100%">
   </div>
   <div class="w3-container w3-padding-16" style="font-size: .9em;">
      <i class="it"> Task Force di Data Science attivata da AGCOM - Servizio Economico-Statistico sul tema della disinformazione online durante l'Emergenza Covid-19. I risultati preliminari delle ricerche vengono pubblicati qui e sono in continuo aggiornamento.</i>
      <i class="en"> Data Science Task Force about online disinformation powered by AGCOM - Servizi Economico-Statistici. Preliminary results of the researches are published here and are constantly updated.</i>
   </div>
 <div class="w3-container w3-bar-block">
 <h5>Focus</h5>
 <!--    <a href="#intro" class="w3-bar-item w3-button w3-padding"> Introduction</a>
 -->

 {% for p in site.pages %}
 {% if p.layout == 'focus' %}
  <a onclick="window.location='{{p.url | slice: 1,p.url.size}}'+window.location.search;">
  <div class="w3-bar-item w3-button w3-green" style="margin: 10px 0 0 0; font-size: 1.2em;">
    {{p.logo}}
    <span class="it">{{p.title_it}} </span>
    <span class="en">{{p.title_en}} </span>
  </div>
  </a>
  {% if page.layout == 'focus' %}
   {% for p2 in site.pages %}
    {% if p2.layout == 'default' and p2.categories == page.categories %}
    <a onclick="window.location='#{{p2.name | slice: 0,5}}';">
      <div class="w3-bar-item w3-button">
        {{p2.logo}}
        <span class="it">{{p2.title_it}} </span>
        <span class="en">{{p2.title_en}} </span>
      </div>
    </a>
    {% endif %}
   {% endfor %}
  {% endif %}
 {% endif %}
 {% endfor %}

 <!--
 <a onclick="window.location='f2.html'+window.location.search;">
   <div class="w3-bar-item w3-button w3-teal" style="margin: 10px 0; font-size: 1.2em;">
     <i class="fa fa-comments fa-fw"></i> <span class="it"> Focus 2 italiano</span><span class="en"> Focus 2 english </span> 
   </div>
 </a>
 <a onclick="window.location='f2.html'+window.location.search;">
   <div class="w3-bar-item w3-button w3-blue" style="margin: 10px 0; font-size: 1.2em;">
     <i class="fa fa-comments fa-fw"></i> <span class="it"> Focus 3 italiano</span><span class="en"> Focus 3 english </span> 
   </div>
 </a>
-->
</div>
 <!--
<div class="w3-container w3-bar-block" style="font-size: .9em;">
  <h5>
    <span class="it"> Con il contributo di:</span>
    <span class="en"> Contributors:</span>
  </h5>
  <div class="w3-bar-item w3-button">
    <span class="it">
      SONY Computer Science Lab - Parigi
    </span>
    <span class="en">
      SONY Computer Science Lab - Paris
    </span>
   </div>
   <div class="w3-bar-item w3-button">
    <span class="it">
      Dipartimento di Fisica di Sapienza - Università di Roma
    </span>
    <span class="en">
      Sapienza - University of Rome - Physics Dept.
    </span>
   </div>
   <div class="w3-bar-item w3-button">
    <span class="it">
      Istituto  Enrico  Fermi  di  Roma
    </span>
    <span class="en">
      Istituto  Enrico  Fermi  di  Roma
    </span>
   </div>
   <div class="w3-bar-item w3-button">
    <span class="it">
      Università Ca’ Foscari di Venezia
    </span>
    <span class="en">
      Università Ca’ Foscari di Venezia
    </span>
   </div>
   <div class="w3-bar-item w3-button">
    <span class="it">
      Istituto dei Sistemi Complessi del Consiglio Nazionale delle Ricerche
    </span>
    <span class="en">
      Istituto dei Sistemi Complessi del Consiglio Nazionale delle Ricerche
    </span>
   </div>
</div>
-->
<div class="w3-container w3-bar-block" style="font-size: .9em;">
  <h5>
    <span class="it"> Con il contributo di:</span>
    <span class="en"> Contributors:</span>
  </h5>
<div class="w3-bar-item w3-button w3-center">
<div class="side_ist_logo"> <img src="assets/images/centrofermi-3.png"> </div>
</div>
<div class="w3-bar-item w3-button w3-center">
  <div class="side_ist_logo"> <img src="assets/images/cnr-isc3.png"> </div>
</div>
<div class="w3-bar-item w3-button w3-center">
  <div class="side_ist_logo"> <img src="assets/images/SonyCSL.png"> </div>
</div>
<div class="w3-bar-item w3-button w3-center">
  <div class="side_ist_logo"> <img src="assets/images/Uniroma1.png"> </div>
</div>
<div class="w3-bar-item w3-button w3-center">
  <div class="side_ist_logo"> <img src="assets/images/cafoscari.png"> </div>
</div>
</div>
 </nav>
 
 
 <!-- Overlay effect when opening sidebar on small screens -->
 <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
 