<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white" id="mySidebar" style="width:300px;z-index:3;"><br>
   <div class="w3-container w3-row">
      <img src="https://www.agcom.it/homepage-theme/images/layout/logo-agcom.png" style="width: 100%">
   </div>
   <div class="w3-container w3-padding-16" style="font-size: .9em;">
      <i class="it"> Task Force di Data Science attivata dai AGCOM - Servizi Economico-Statistici sul tema della disinformazione online durante l'Emergenza Covid-19. I risultati preliminari delle ricerche vengono pubblicati qui e sono in continuo aggiornamento.</i>
      <i class="en"> Data Science Task Force about online disinformation powered by AGCOM - Servizi Economico-Statistici. Preliminary results of the researches are published here and are constantly updated.</i>
   </div>
 <div class="w3-container w3-bar-block">
 <h5>Focus</h5>
 <!--    <a href="#intro" class="w3-bar-item w3-button w3-padding"> Introduction</a>
 -->
 <a onclick="window.location='searches.html'+window.location.search;">
   <div class="w3-bar-item w3-button w3-green" style="margin: 10px 0; font-size: 1.2em;">
     <i class="fa fa-search fa-fw"></i> <span class="it">Quello che la gente vuole (sapere) </span><span class="en">What people want (to know) </span>
   </div>
 </a>
 <a onclick="window.location='f2.html'+window.location.search;">
   <div class="w3-bar-item w3-button w3-teal" style="margin: 10px 0; font-size: 1.2em;">
     <i class="fa fa-comments fa-fw"></i> <span class="it"> Focus 2 italiano</span><span class="en"> Focus 2 english </span> 
   </div>
 </a>
 <a onclick="window.location='f2.html'+window.location.search;">
   <div class="w3-bar-item w3-button w3-blue" style="margin: 10px 0; font-size: 1.2em;">
     <i class="fa fa-comments fa-fw"></i> <span class="it"> Focus 3 italiano</span><span class="en"> Focus 3 english </span> 
   </div>
 </a>

<div class="w3-container w3-padding-16" style="font-size: .9em;">
   <i class="it"> Con il contributo di:</i>
   <i class="en"> Contributors:</i>
   <ul class="it">
      <li>SONY Computer Science Lab - Parigi</li>
      <li>Dipartimento di Fisica di Sapienza - Università di Roma </li>
      <li>Istituto  Enrico  Fermi  di  Roma</li>
      <li>Università Ca’ Foscari di Venezia</li>
      <li>Istituto dei Sistemi Complessi del Consiglio Nazionale delle Ricerche</li>
   </ul>
   <ul class="en">
      <li>SONY Computer Science Lab - Paris</li>
      <li>Sapienza - University of Rome - Physics Dept.</li>
      <li>Istituto  Enrico  Fermi  di  Roma</li>
      <li>Università Ca’ Foscari di Venezia</li>
      <li>Istituto dei Sistemi Complessi del Consiglio Nazionale delle Ricerche</li>
   </ul>
</div>

 </nav>
 
 
 <!-- Overlay effect when opening sidebar on small screens -->
 <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
 