<!-- Top container
-->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
   <a class="w3-bar-item w3-button w3-left w3-padding" onclick="window.location='index.html'+window.location.search;"><i class="fa fa-home fa-fw"></i></a>
   <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
   <a class="w3-bar-item w3-button w3-right w3-padding" href="?lang=it">Italiano</a>
   <a class="w3-bar-item w3-button w3-right w3-padding" href="?lang=en">English</a>
</div>
 